{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
    <div id="nav-bar-raw">
        <div class="burger">
            <div>-</div>
            <div>-</div>
            <div>-</div>
        </div>
        {% if user.is_authenticated %}
            <h2 class="hi-or-login" style="color: #a8e6cf">Hello, <a class="nav-anchor" href="{% url 'rprofile:profile' %}">{{ user.username }}</a>!</h2>
            <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>

        {% else %}
        <a class="nav-anchor" href="{% url 'rprofile:not_login' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Profile</h2></a>      
            <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>
        {% endif %}
        <div id="nav-options">
            <h2><a href="{% url 'review:reviews' %}" class="nav-anchor">Reviews</a></h2>
            {% if user.is_authenticated %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_user_books' username=user.username %}" class="nav-anchor">Book of the Month</a></h2>
            {% else %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_top_books' %}" class="nav-anchor">Book of the Month</a></h2>
            {% endif %}

            {% if user.is_authenticated %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'readlist:book_list' username=user.username %}" class="nav-anchor">Books</a></h2>
            {% else %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'readlist:book_kosong' %}" class="nav-anchor">Books</a></h2>
            {% endif %}


            {% if user.is_authenticated %}
            <h2><a class="nav-anchor" href="{% url 'main:logout' %}">Logout</a></h2>
            {% else %}
            <h2 class="hi-or-login"><a class="nav-anchor" href="{% url 'main:login' %}">Login</a></h2>
            {% endif %}
        </div>
    </div>

    </br>
    </br>
    </br>
    <div class= "container-quotes">
        <h2 class="text-center">Quotes</h2> 

        <div class="quotes-container" id="quotes-container">
                <!-- Ini adalah tempat untuk menampilkan quotes teratas. Isi akan diperbarui dengan AJAX. -->

        </div>
        {% if user.is_authenticated %}
    
            <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Quotes</button>
            </div>
    
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Quotes</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form" onsubmit="return false;">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="name" class="col-form-label">{{user.username}}</label>
                                </div>
                                <div class="mb-3">
                                    <label for="text" class="col-form-label">Text:</label>
                                    <textarea class="form-control" id="text" name="quotes"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Quotes</button>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endif %}
    </div>

    <div class="container-bom">
        <div class="header-bom">
            <h2 class="text-center">Book of the Month</h2> 
            <div class="body-bom" style="display:flex;">
                
                <div class="column-bom">
                    <div class="card-mid-bom" style="background-image: url('{{top_books.0.image_link}}')"></div>
                    <div class="card-mid-footer-bom">
                        <div class="author-bom" >{{top_books.0.author}}</div>
                        <div class="title-bom" ><a href="{% url 'main:book_detail' book_id=top_books.0.index_key %}" style="color: inherit; text-decoration: none;">{{top_books.0.title}}</a></div>
                    </div>
                </div>
                
                <div class="column-bom">
                    <div class="card-bom">
                        <div class="card-image-bom" style="background-image: url('{{top_books.1.image_link}}')"></div>
                        <div class="card-content-bom">
                            <div class="author-bom"> {{top_books.1.author}}</div>
                            <div class="title-bom"><a href="{% url 'main:book_detail' book_id=top_books.1.index_key %}" style="color: inherit; text-decoration: none;">{{top_books.1.title}}</a></div>

                        </div>
                    </div>
                    <div class="card-bom">
                        <div class="card-image-bom" style="background-image: url('{{top_books.2.image_link}}')"></div>
                        <div class="card-content-bom">
                            <div class="author-bom"> {{top_books.2.author}}</div>
                            <div class="title-bom"> <a href="{% url 'main:book_detail' book_id=top_books.2.index_key %}" style="color: inherit; text-decoration: none;">{{top_books.2.title}}</a></div>
                        </div>
                    </div>         
                    
                    <div class="card-bom">
                        <div class="card-image-bom" style="background-image: url('{{top_books.3.image_link}}')"></div>
                        <div class="card-content-bom">
                            <div class="author-bom"> {{top_books.3.author}}</div>
                            <div class="title-bom"> <a href="{% url 'main:book_detail' book_id=top_books.3.index_key %}" style="color: inherit; text-decoration: none;">{{top_books.3.title}}</a></div>
                        </div>
                    </div>
                </div>
                <div class="column-bom">
                    <div class="card-bom">
                        <div class="card-image-bom" style="background-image: url('{{top_books.4.image_link}}')"></div>
                        <div class="card-content-bom">
                            <div class="author-bom"> {{top_books.4.author}}</div>
                            <div class="title-bom">  <a href="{% url 'main:book_detail' book_id=top_books.4.index_key %}" style="color: inherit; text-decoration: none;">{{top_books.4.title}}</a></div>
                        </div>
                    </div>
                    <div class="card-bom">
                        <div class="card-image-bom" style="background-image: url('{{top_books.5.image_link}}')"></div>
                        <div class="card-content-bom">
                            <div class="author-bom"> {{top_books.5.author}}</div>
                            <div class="title-bom">  <a href="{% url 'main:book_detail' book_id=top_books.5.index_key %}" style="color: inherit; text-decoration: none;">{{top_books.5.title}}</a></div>
                        </div>
                    </div>         
                    
                    <div class="card-bom">
                        <div class="card-image-bom" style="background-image: url('{{top_books.6.image_link}}')"></div>
                        <div class="card-content-bom">
                            <div class="author-bom"> {{top_books.6.author}}</div>
                            <div class="title-bom">  <a href="{% url 'main:book_detail' book_id=top_books.6.index_key %}" style="color: inherit; text-decoration: none;">{{top_books.6.title}}</a></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </div>
    {% if user.is_authenticated %}
        <h2 class="text-center" >Trending</h2> 
        <div class="container-trend">
           {% if favorite_books.0 is not None %}
            <div class="card-trend">
                <div class="card-trend-image-bom" style="background-image: url('{{ favorite_books.0.image_link }}')"></div>
                <div class="card-content-bom">
                <div class="title-trend">{{ favorite_books.0.title }}</div>
                <div class="author-trend">{{ favorite_books.0.author }}</div>
                </div>
            </div>
            {% endif %}

            {% if favorite_books.1 is not None %}
            <div class="card-trend">
                <div class="card-trend-image-bom" style="background-image: url('{{favorite_books.1.image_link}}')"></div>
                <div class="card-content-bom" >
                    <div class="title-trend"> {{favorite_books.1.title}}</div>
                    <div class="author-trend"> {{favorite_books.1.author}}</div>
                </div>
            </div>
            {% endif %}

            {% if favorite_books.2 is not None %}
            <div class="card-trend">
                <div class="card-trend-image-bom" style="background-image: url('{{favorite_books.2.image_link}}')"></div>
                <div class="card-content-bom" >
                    <div class="title-trend"> {{favorite_books.2.title}}</div>
                    <div class="author-trend"> {{favorite_books.2.author}}</div>
                </div>
            </div>
            {% endif %}

            {% if favorite_books.3 is not None %}
            <div class="card-trend">
                <div class="card-trend-image-bom" style="background-image: url('{{favorite_books.3.image_link}}')"></div>
                <div class="card-content-bom" >
                    <div class="title-trend"> {{favorite_books.3.title}}</div>
                    <div class="author-trend"> {{favorite_books.3.author}}</div>
                </div>
            </div>
            {% endif %}
            
            
        </div>
    {% endif %}
    
    <script>
        function updateTopQuotes() {
        // Kirim permintaan AJAX ke server untuk mendapatkan quotes teratas
        fetch("{% url 'bom:get_top_quotes' %}")
            .then(response => response.json())
            .then(data => {
                // Perbarui elemen quotes-container dengan quotes teratas yang diterima dari server
                const quotesContainer = document.getElementById("quotes-container");
                quotesContainer.innerHTML = ""; // Kosongkan isi sebelum memperbarui
                const quoteElement = document.createElement("textarea");
                quoteElement.innerText = data.quotes;
                quoteElement.classList.add("quote-item");
                quoteElement.setAttribute("readonly", "true");
                quotesContainer.appendChild(quoteElement);
            })
            .catch(error => console.error(error));
    }

    // Panggil fungsi untuk memuat quotes teratas saat halaman dimuat
    updateTopQuotes();

        function addQuotes() {
            fetch("{% url 'bom:add_quotes_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(updateTopQuotes)
            
            document.getElementById("form").reset()
            return false
        }
        document.getElementById("button_add").onclick = addQuotes
    </script>



{% endblock content %}