#register-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  padding: 20px;
  background-color: white;
}

#register-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#register-form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.register-input input{
  width: 100%;
}
