{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="nav-bar-raw">
        {% if user.is_authenticated %}
            <h2 class="hi-or-login">Hello, <a class="nav-anchor" href="{% url 'rprofile:profile' %}">{{ user.username }}</a>!</h2>
        {% else %}
            <h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2>
        {% endif %}

        <div id="nav-options">
          <h2><a href="" class="nav-anchor">Reviews</a></h2>
          <h2><a href="" class="nav-anchor">Book of the Month</a></h2>
          <h2><a href="{% url 'rprofile:bookofchoice' %}" class="nav-anchor">Book of your Choice</a></h2>
          <h2><a href="" class="nav-anchor">Books</a></h2>
          {% if user.is_authenticated %}
            <h2><a class="nav-anchor" href="{% url 'main:logout' %}">Logout</a></h2>
          {% else %}
            <h2 class="hi-or-login"><a class="nav-anchor" href="{% url 'main:login' %}">Login</a></h2>
          {% endif %}
        </div>
    </div>

    <div id="main-title">
        <img id="main-bg" src="https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg">
        <div id="quote-container">
          <div id="readitique">"Readitique akan terus berkembang tapi tidak akan pernah sempurna. karena kesempurnaan hanya milik Tuhan"</div>
          <div id="kamaru">-Kamaru 2023</div>
        </div>
      </div>
      

    <div id="search-input">
        <h1>Book Suggestions:</h1>
        <div>
            <label for="searc-book">Search by title:</label>
            <input id="booksearch" type="text" name="label" style="margin-left: 8px"/>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Suggest a book!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title"></input>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="col-form-label">Author:</label>
                            <input type="text" class="form-control" id="author" name="author"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="genre" class="col-form-label">Genre:</label>
                            <input type="text" class="form-control" id="genre" name="genre"></input>
                        </div>
                        <div class="mb-3">
                            <form id="imageForm">
                                <div class="form-group">
                                  <label for="image_link">Image URL:</label>
                                  <input type="text" class="form-control" id="image_link" placeholder="Enter image URL">
                                </div>
                              </form>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Suggest book</button>
                </div>
            </div>
        </div>
    </div>
    
    {% if user.is_authenticated %}
    <h4>Don't see a book you like? Suggest one <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">here</a></h4>
    {% endif %}

    <script>
        searchBook = document.getElementById("booksearch");
        searchBook.addEventListener("input", (e) => {
            e.preventDefault();
            const scrollPos = window.scrollY;

            const container = document.querySelector(".row");
            container.innerHTML = "";
            let value = e.target.value;
            const base = "{% url 'addbuku:get-filtered' %}"

            fetch(`${base}?search_text=${value}`)
            .then(response => response.json())
            .then(data => {
                for (book of newbooks) {
                    let description = book['fields']['description'];
                    if (description.length > 100) {
                        description = description.substring(0, 95) + "...";
                    }
                    container.innerHTML += '<div class="col-md-4">' +
                        '<div class="card mb-3">' +
                    '<div class="row g-0">' +
                        '<div class="col-md-4">' +
                            `<img src="${book['fields']['image_link']}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">` +
                        '</div>' +
                        '<div class="col-md-8">' +
                            '<div class="card-body">' +
                                `<h5 class="card-title" style="font-size: 16px;">${book['fields']['title']}</h5>` +
                                `<p class="card-text" style="font-size: 12px;">Author: ${book['fields']['author']}</p>` +
                                '<p class="card-text" style="font-size: 12px;">' +
                                `<span data-description="${description}">${description}</span>` +
                            '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>';
                }   
            })
            .then(() => {
                setTimeout(() => {
                window.scrollTo(0, scrollPos);
                }, 10);
            });
        });
        
        async function getNewBooks() {
            return fetch("{% url 'addbuku:get_newbook_json' %}").then((res) => res.json())
        }

        async function refreshNewBooks() {
        document.getElementById("button-row").innerHTML = ""
        const new_books = await getNewBooks()
        let htmlString = ""
        new_books.forEach((item) => {
            let description = item.fields.description;
                if (description.length > 100) {
                    description = description.substring(0, 95) + "...";
                }
            htmlString += `\n<div class="col-md-4">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="${item.fields.image_link}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 16px;">${ item.fields.title }</h5>
                                <p class="card-text" style="font-size: 12px;">Author: ${ item.fields.author }</p>
                                <p class="card-text" style="font-size: 12px;">
                                <span data-description="${description}">${description}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>` 
        })
        
        document.getElementById("button-row").innerHTML = htmlString
    }

    refreshNewBooks()

    function addNewBook() {
        fetch("{% url 'addbuku:add_newbook_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshNewBooks)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addNewBook
    </script>

{% endblock content %}
