{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="nav-bar-raw">
        {% if user.is_authenticated %}
            <h2 class="hi-or-login">Hello, <a class="nav-anchor" href="{% url 'rprofile:profile' %}">{{ user.username }}</a>!</h2>
        {% else %}
            <h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2>
        {% endif %}

        <div id="nav-options">
          <h2><a href="" class="nav-anchor">Reviews</a></h2>
          <h2><a href="" class="nav-anchor">Book of the Month</a></h2>
          <h2><a href="{% url 'rprofile:bookofchoice' %}" class="nav-anchor">Book of your Choice</a></h2>
          <h2><a href="" class="nav-anchor">Books</a></h2>
          {% if user.is_authenticated %}
            <h2><a class="nav-anchor" href="{% url 'main:logout' %}">Logout</a></h2>
          {% else %}
            <h2 class="hi-or-login"><a class="nav-anchor" href="{% url 'main:login' %}">Login</a></h2>
          {% endif %}
        </div>
    </div>

    <div id="main-title">
        <img id="main-bg" src="https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg">
        <div id="quote-container">
          <div id="readitique">"Readitique akan terus berkembang tapi tidak akan pernah sempurna. karena kesempurnaan hanya milik Tuhan"</div>
          <div id="kamaru">-Kamaru 2023</div>
        </div>
      </div>
      

    <div id="search-input">
        <h1>Book Suggestions:</h1>
        <div>
            <label for="search-book">Search by title:</label>
            <input id="booksearch" type="text" name="label" style="margin-left: 8px"/>
        </div>
    </div>

    {% if user.is_authenticated %}
    <h4>Don't see a book you like? Suggest one <a data-bs-toggle="modal" data-bs-target="#bookModal" href="">here</a></h4>
    {% endif %}

    <div class="container" style="padding-top: 50px; min-height: 600px;">
        <div class="row">
            {% for book in newbooks %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{book.image_link}}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 16px;">{{ book.title }}</h5>
                                <p class="card-text" style="font-size: 12px;">Author: {{ book.author }}</p>
                                <p class="card-text" style="font-size: 12px;">
                                <span id="description{{ forloop.counter }}" data-description="{{ book.Description}}">{{ book.description|slice:":100" }}</span>
                                {% if book.description|length > 100 %}
                                    <a href="javascript:void(0);" class="show-more" data-target="description{{ forloop.counter }}">Tampilkan Lebih Banyak</a>
                                {% endif %}
                            </p>
                            {%if user.is_authenticated%}
                            <button type="button" class="btn btn-success" id="vote">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                                </svg>
                                {{book.votes}} Votes
                            </button>
                            {%endif%}
                            {%if user.is_superuser %}
                            <button type="button" class="btn btn-success" id="approve">Approve</button>
                            {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bookModalLabel">Suggest a book!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title"></input>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="col-form-label">Author:</label>
                            <input type="text" class="form-control" id="author" name="author"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="genre" class="col-form-label">Genre:</label>
                            <input type="text" class="form-control" id="genre" name="genre"></input>
                        </div>
                            <label for="image_link">Image URL:</label>
                            <input type="url" class="form-control" id="image_link" placeholder="Enter image URL">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Suggest book</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function getNewBooks() {
            return fetch("{% url 'addbuku:get_newbook_json' %}").then((res) => res.json())
        }

        async function refreshNewBooks() {
        document.getElementsByClassName("row").innerHTML = ""
        const new_books = await getNewBooks()
        let htmlString = ""
        new_books.forEach((item) => {
            let description = item.fields.description;
            if (description.length > 100) {
                description = description.substring(0, 95) + "...";
            }
            htmlString += `\n<div class="col-md-4">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{book.image_link}}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 16px;">{{ book.title }}</h5>
                                <p class="card-text" style="font-size: 12px;">Author: {{ book.author }}</p>
                                <p class="card-text" style="font-size: 12px;">
                                <span id="description{{ forloop.counter }}" data-description="{{ book.Description}}">{{ book.description|slice:":100" }}</span>
                                {% if book.description|length > 100 %}
                                    <a href="javascript:void(0);" class="show-more" data-target="description{{ forloop.counter }}">Tampilkan Lebih Banyak</a>
                                {% endif %}
                            </p>
                            {%if user.is_authenticated%}
                            <button type="button" class="btn btn-success" id="vote">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                                </svg>
                                {{book.votes}} Votes
                            </button>
                            {%endif%}
                            {%if user.is_superuser %}
                            <button type="button" class="btn btn-success" id="approve">Approve</button>
                            {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>` 
        })
        
        document.getElementsByClassName("row").innerHTML = htmlString
    }

    refreshNewBooks()

    function addNewBook() {
        const form = document.querySelector('#form');
        const formData = new FormData(form);

        const imageLink = document.querySelector('#image_link').value;
        formData.append('image_link', imageLink);
        console.log(formData);

        fetch("{% url 'addbuku:add_newbook_ajax' %}", {
            method: "POST",
            body: formData
        }).then(refreshNewBooks);

        form.reset();
        return false;
    }

    document.getElementById("button_add").onclick = addNewBook
    </script>

{% endblock content %}
