{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="nav-bar-raw">
        <div class="burger">
            <div>-</div>
            <div>-</div>
            <div>-</div>
        </div>
        {% if user.is_authenticated %}
            <h2 class="hi-or-login" style="color: #a8e6cf">Hello, <a class="nav-anchor" href="{% url 'rprofile:profile' %}">{{ user.username }}</a>!</h2>
            <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>

        {% else %}
        <a class="nav-anchor" href="{% url 'rprofile:not_login' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Profile</h2></a>      
            <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>
        {% endif %}
        <div id="nav-options">
            <h2><a href="{% url 'review:reviews' %}" class="nav-anchor">Reviews</a></h2>
            {% if user.is_authenticated %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_user_books' username=user.username %}" class="nav-anchor">Book of the Month</a></h2>
            {% else %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_top_books' %}" class="nav-anchor">Book of the Month</a></h2>
            {% endif %}

            {% if user.is_authenticated %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'readlist:book_list' username=user.username %}" class="nav-anchor">Books</a></h2>
            {% else %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'readlist:book_kosong' %}" class="nav-anchor">Books</a></h2>
            {% endif %}


            {% if user.is_authenticated %}
            <h2><a class="nav-anchor" href="{% url 'main:logout' %}">Logout</a></h2>
            {% else %}
            <h2 class="hi-or-login"><a class="nav-anchor" href="{% url 'main:login' %}">Login</a></h2>
            {% endif %}
        </div>
    </div>

    <div id="main-title">
        <img id="main-bg" src="https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg">
        <div id="quote-container">
          <div id="readitique">"Readitique akan terus berkembang tapi tidak akan pernah sempurna. karena kesempurnaan hanya milik Tuhan"</div>
          <div id="kamaru">-Kamaru 2023</div>
        </div>
      </div>
      

    <div id="search-input">
        <h1>Book Suggestions:</h1>
        {%if user.is_authenticated is True%}
        <h4>Suggest a book <a data-bs-toggle="modal" data-bs-target="#bookModal" href="">here</a>!</h4>
        {% endif %}
    </div>

    <div class="container" style="padding-top: 50px; min-height: 600px;">
        <div class="row">
        </div>
    </div>

    <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bookModalLabel">Suggest a book!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Author:</label>
                            <input type="text" class="form-control" id="author" name="author"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Genre:</label>
                            <input type="text" class="form-control" id="genre" name="genre"></input>
                        </div>
                        <div class="mb-3">
                            <label for="image_link">Image URL:</label>
                            <input type="url" class="form-control" id="image_link" placeholder="Enter image URL"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Suggest book</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        
        async function getNewBooks() {
            return fetch("{% url 'addbuku:get_newbook_json' %}").then((res) => res.json())
        }

        async function refreshNewBooks() {
        document.getElementsByClassName("row")[0].innerHTML = ""
        const new_books = await getNewBooks()
        let htmlString = ""
        new_books.forEach((item) => {
            let description = item.fields.description;
            if (description.length > 100) {
                description = description.substring(0, 95) + "...";
            }
            htmlString += `\n<div class="col-md-4">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="${ item.fields.image_link }" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="heading">
                                    <h5 class="card-title" title="${item.fields.title}" style="font-size: 16px; height: 80px; overflow-y: auto;">${ item.fields.title }</h5>
                                    <p class="card-text" style="font-size: 12px;">Author: ${ item.fields.author }</p>
                                </div>
                                <p class="card-text description" style="font-size: 12px; height: 60px;"> <span data-description="${description}">${description}</span></p>
                                {%if user.is_authenticated is True and user.is_superuser is False%}
                                <button type="button" class="btn btn-success vote" method="POST" onclick="incrementVote(${item.pk})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                                    </svg>
                                    ${item.fields.votes} Votes
                                </button>
                                {%endif%}
                                {%if user.is_superuser %}
                                    <button type="button" class="btn btn-success approve" method="GET" onclick="approveBook(${item.pk})">Approve</button>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>` 
        })
        
        document.getElementsByClassName("row")[0].innerHTML = htmlString
    }

    refreshNewBooks()

    function incrementVote(newBookId) {
        fetch(`increment-votes/${newBookId}/`, {
            method: "POST",
        }).then(refreshNewBooks)

        return false
    }

    function approveBook(newBookId) {
        fetch(`approve-book/${newBookId}/`, {
            method: "GET",
        }).then(refreshNewBooks)

        return false
    }

    function addNewBook() {
        const form = document.querySelector('#form');
        const formData = new FormData(form);

        const imageLink = document.querySelector('#image_link').value;
        formData.append('image_link', imageLink ? imageLink : "https://img.freepik.com/premium-vector/open-blank-book-illustration-school-supply-back-school-open-book-icon-reading-writing_502505-530.jpg?w=2000");

        fetch("{% url 'addbuku:add_newbook_ajax' %}", {
            method: "POST",
            body: formData
        }).then(refreshNewBooks);

        form.reset();
        return false;
    }

    document.getElementById("button_add").onclick = addNewBook
    </script>

{% endblock content %}