{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}

    <div id="nav-bar-raw">
        {% if user.is_authenticated %}
            <h2 class="hi-or-login">Hello, <a class="nav-anchor" href="{% url 'rprofile:profile' %}">{{ user.username }}</a>!</h2>
        {% else %}
            <h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2>
        {% endif %}

        <div id="nav-options">
          <h2><a href="" class="nav-anchor">Reviews</a></h2>
          <h2><a href="" class="nav-anchor">Book of the Month</a></h2>
          <h2><a href="" class="nav-anchor">Books</a></h2>
          {% if user.is_authenticated %}
            <h2><a class="nav-anchor" href="{% url 'main:logout' %}">Logout</a></h2>
          {% else %}
            <h2 class="hi-or-login"><a class="nav-anchor" href="{% url 'main:login' %}">Login</a></h2>
          {% endif %}
        </div>

    </div>

    <div id="main-title">
      <img id="main-bg" style="object-fit: cover;" src="https://i.pinimg.com/1200x/f2/1c/2f/f21c2f27294e010cdc2af50533b90228.jpg">
      <div id="quote-container">
        <div id="readitique">"FIND THE REVIEWS YOU NEED"</div>
        <div id="kamaru">- Kamaru 2023</div>
      </div>
    </div>      

    <div id="search-input">
        <h1>Find Review:</h1>
        <div>
            <label for="search-book">Search by title:</label>
            <input id="booksearch" type="text" name="search-book" style="margin-left: 8px"/>
        </div>
    </div>


    <div class="container" style="padding-top: 50px; min-height: 600px;">
        <div class="row">
            {% for book in data %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <a id="book-review-link" href="{% url 'review:book-review' book.pk %}">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{book.image_link}}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 16px;">{{ book.title }}</h5>
                                    <p class="card-text" style="font-size: 12px;">Author: {{ book.author }}</p>
                                    <p class="card-text" style="font-size: 12px;">
                                    <span id="description{{ forloop.counter }}" data-description="{{ book.Description}}">{{ book.description|slice:":100" }}</span>
                                    {% if book.description|length > 100 %}
                                        <span>...</span>
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <br />
    <script>
        // Mengambil semua elemen dengan class "show-more"
        const showMoreButtons = document.querySelectorAll('.show-more');

        // Mengaitkan event click pada setiap tombol "Tampilkan Lebih Banyak"
        showMoreButtons.forEach(button => {
            button.addEventListener('click', function() {
                const targetId = this.getAttribute('data-target');
                const targetElement = document.getElementById(targetId);

                // Mengganti isi dari target element dengan deskripsi yang ada di atribut data-description
                targetElement.innerHTML = targetElement.getAttribute('data-description');
            });
        });

        searchBook = document.getElementById("booksearch");
        searchBook.addEventListener("input", (e) => {
            e.preventDefault();
            const scrollPos = window.scrollY;

            const container = document.querySelector(".row");
            container.innerHTML = "";
            let value = e.target.value;
            const base = "{% url 'main:get-filtered' %}"

            fetch(`${base}?search_text=${value}`)
            .then(response => response.json())
            .then(data => {
                for (book of data) {
                    let description = book['fields']['description'];
                    let id = book['pk']
                    if (description.length > 100) {
                        description = description.substring(0, 95) + "...";
                    }
                    container.innerHTML += '<div class="col-md-4">' +
                        '<div class="card mb-3">' +
                            `<a id="book-review-link" href="${id}">` +
                    '<div class="row g-0">' +
                        '<div class="col-md-4">' +
                            `<img src="${book['fields']['image_link']}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">` +
                        '</div>' +
                        '<div class="col-md-8">' +
                            '<div class="card-body">' +
                                `<h5 class="card-title" style="font-size: 16px;">${book['fields']['title']}</h5>` +
                                `<p class="card-text" style="font-size: 12px;">Author: ${book['fields']['author']}</p>` +
                                '<p class="card-text" style="font-size: 12px;">' +
                                `<span data-description="${description}">${description}</span>` +
                            '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '</a>' +
                '</div>' +
            '</div>';
                }   
            })
            .then(() => {
                setTimeout(() => {
                window.scrollTo(0, scrollPos);
                }, 10);
            });
        });
    </script>



{% endblock content %}