{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="nav-bar-raw">
        <div class="burger">
            <div>-</div>
            <div>-</div>
            <div>-</div>
        </div>
        {% if user.is_authenticated %}
            <h2 class="hi-or-login" style="color: #a8e6cf">Hello, <a class="nav-anchor" href="{% url 'rprofile:profile' %}">{{ user.username }}</a>!</h2>
            <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>

        {% else %}
          <a class="nav-anchor" href="{% url 'rprofile:not_login' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Profile</h2></a>      
          <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>
        {% endif %}
        <div id="nav-options">
            <h2><a href="{% url 'review:reviews' %}" class="nav-anchor">Reviews</a></h2>
            {% if user.is_authenticated %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_user_books' username=user.username %}" class="nav-anchor">Book of the Month</a></h2>
            {% else %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_top_books' %}" class="nav-anchor">Book of the Month</a></h2>
            {% endif %}

            {% if user.is_authenticated %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'readlist:book_list' username=user.username %}" class="nav-anchor">Books</a></h2>
            {% else %}
                <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'readlist:book_kosong' %}" class="nav-anchor">Books</a></h2>
            {% endif %}


            {% if user.is_authenticated %}
            <h2><a class="nav-anchor" href="{% url 'main:logout' %}">Logout</a></h2>
            {% else %}
            <h2 class="hi-or-login"><a class="nav-anchor" href="{% url 'main:login' %}">Login</a></h2>
            {% endif %}
        </div>
    </div>

<div class="container-detail">
    <h1>Detail Buku</h1>
    <div class="card-detail">
        <div class="card-detail-content">
            <div class="img-container-detail">
                <img src="{{ book.image_link }}" class="card-detail-img" alt="{{ book.title }}">
                {% if user.is_authenticated %}
                <button class="btn-read-detail"><a href="{% url 'main:add_to_reading_list' book_id=book.index_key %}" style="color: inherit; text-decoration: none;">Want to Read</a></button>
                {% endif %}
                <div style="font-size: 12px;">{{ readers_amount }} users added to reading list </div>
            </div>
            <div class="card-detail-body">
                <h5 class="card-detail-title">{{ book.title }}</h5>
                <p class="card-detail-text">Penulis: {{ book.author }}</p>
                <p class="card-detail-text">Deskripsi: {{ book.description }}</p>
                <p class="card-detail-text">Genre: {{ book.genre }}</p>
            </div>
        </div>
        <div class="card-detail-footer">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
            <div class="rating-detail">
                {% for i in "12345"|make_list %}
                    {% if book.rating|floatformat > i %}
                        <span class="fa fa-star checked"></span>
                    {% elif book.rating|floatformat|add:"-0.5" > i %}
                        <span class="fa fa-star-half-o checked"></span>
                    {% else %}
                        <span class="fa fa-star"></span>
                    {% endif %}
                {% endfor %}
                <span class="rating-number-detail">{{ book.rating }}</span>

            </div>
            <button class="btn-review-detail" ><a href="{% url 'review:book-review' pk=book.pk %}" style="color: inherit; text-decoration: none;">Write a Review</a></button>
        </div>
    </div>
</div>
{% endblock content %}