{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}

    <div id="nav-bar-raw">
        {% if user.is_authenticated %}
            <h2 class="hi-or-login">Hello, <a class="nav-anchor" href="{% url 'rprofile:profile' %}">{{ user.username }}</a>!</h2>
            <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>

        {% else %}
            <a class="nav-anchor" href="{% url 'main:show-main' %}"><h2 class="hi-or-login" style="color: #e5f2c9">Readitique</h2></a>        {% endif %}

        <div id="nav-options">
          <h2><a href="" class="nav-anchor">Reviews</a></h2>
        {% if user.is_authenticated %}
            <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_user_books' username=user.username %}" class="nav-anchor">Book of the Month</a></h2>
        {% else %}
            <h2 class="hi-or-login" style="color: #e5f2c9"><a href="{% url 'bom:show_top_books' %}" class="nav-anchor">Book of the Month</a></h2>
        {% endif %}
          {% comment %} <h2><a href="{% url 'bom:show_top_books' %}" class="nav-anchor">Book of the Month</a></h2> {% endcomment %}
          <h2><a href="" class="nav-anchor">Books</a></h2>
          {% if user.is_authenticated %}
            <h2><a class="nav-anchor" href="{% url 'main:logout' %}">Logout</a></h2>
          {% else %}
            <h2 class="hi-or-login"><a class="nav-anchor" href="{% url 'main:login' %}">Login</a></h2>
          {% endif %}
        </div>

    </div>

    <div id="main-title">
      <img id="main-bg" style="object-fit: cover;" src="https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg">
      <div id="quote-container">
        <div id="readitique">"Readitique akan terus berkembang tapi tidak akan pernah sempurna. karena kesempurnaan hanya milik Tuhan"</div>
        <div id="kamaru">- Kamaru 2023</div>
      </div>
    </div>
    

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    <div id="search-input">
        <h1>Book Recomendations:</h1>
        <div>
            <label for="search-book">Search by title:</label>
            <input id="booksearch" type="text" name="search-book" style="margin-left: 8px"/>
        </div>
    </div>


    <div class="container" style="padding-top: 50px; min-height: 600px;">
        <div class="row">
            {% for book in data %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{book.image_link}}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 16px;">{{ book.title }}</h5>
                                <p class="card-text" style="font-size: 12px;">Author: {{ book.author }}</p>
                                <p class="card-text" style="font-size: 12px;">
                                <span id="description{{ forloop.counter }}" data-description="{{ book.Description}}">{{ book.description|slice:":100" }}</span>
                                {% if book.description|length > 100 %}
                                    <a href="javascript:void(0);" class="show-more" data-target="description{{ forloop.counter }}">Tampilkan Lebih Banyak</a>
                                {% endif %}
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <br />
    <script>
        // Mengambil semua elemen dengan class "show-more"
        const showMoreButtons = document.querySelectorAll('.show-more');

        // Mengaitkan event click pada setiap tombol "Tampilkan Lebih Banyak"
        showMoreButtons.forEach(button => {
            button.addEventListener('click', function() {
                const targetId = this.getAttribute('data-target');
                const targetElement = document.getElementById(targetId);

                // Mengganti isi dari target element dengan deskripsi yang ada di atribut data-description
                targetElement.innerHTML = targetElement.getAttribute('data-description');
            });
        });

        searchBook = document.getElementById("booksearch");
        searchBook.addEventListener("input", (e) => {
            e.preventDefault();
            const scrollPos = window.scrollY;

            const container = document.querySelector(".row");
            container.innerHTML = "";
            let value = e.target.value;
            const base = "{% url 'main:get-filtered' %}"

            fetch(`${base}?search_text=${value}`)
            .then(response => response.json())
            .then(data => {
                for (book of data) {
                    let description = book['fields']['description'];
                    if (description.length > 100) {
                        description = description.substring(0, 95) + "...";
                    }
                    container.innerHTML += '<div class="col-md-4">' +
                        '<div class="card mb-3">' +
                    '<div class="row g-0">' +
                        '<div class="col-md-4">' +
                            `<img src="${book['fields']['image_link']}" class="img-fluid" alt="Gambar" style="max-width: 100px; max-height: 150px;">` +
                        '</div>' +
                        '<div class="col-md-8">' +
                            '<div class="card-body">' +
                                `<h5 class="card-title" style="font-size: 16px;">${book['fields']['title']}</h5>` +
                                `<p class="card-text" style="font-size: 12px;">Author: ${book['fields']['author']}</p>` +
                                '<p class="card-text" style="font-size: 12px;">' +
                                `<span data-description="${description}">${description}</span>` +
                            '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>';
                }   
            })
            .then(() => {
                setTimeout(() => {
                window.scrollTo(0, scrollPos);
                }, 10);
            });
        });
    </script>



{% endblock content %}